@use 'variables';

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4.25em;
    padding: 0 1.5em;
    max-width: 1115px;
    margin:auto;
    @media(min-width: 69.6875em){
        height: 7em;
        border-bottom: 1px solid hsl(220, 14%, 75%);
        position: relative;
        
    }
    &__navigation{
         width: 10.9375em;
         height: 100%;
         display: flex;
         align-items: center;
         justify-content: space-between;
         @media(min-width: 69.6875em){
            width: 36.875em;
        }
   }
   &__menu{
     &:hover{
        cursor: pointer;
     }
     @media(min-width: 69.6875em){
        display: none;
    }
     
   }
   &__cart-avatar{
    display: flex;
    align-items: center;
    justify-content: space-between;
   }

   &__cart{
    width: 1.7em;
    position: relative;
    &--notification{
        display: none;
        background-color: hsl(26, 100%, 55%);
        text-align: center;
        border-radius: 50%;
        color: white;
        font-weight: 700;
        position: absolute;
        left: 1em;
        font-size: .7em;
        width: 1.3em;
        height:1.2em;
        bottom: 1.4em;
       }
       &:hover{
        cursor: pointer;
       }
   }

   

   &__cart-avatar-avatar{
    width: 1.5em;
    margin-bottom: .5em;
    margin-left: .3em;
    @media(min-width: 69.6875em){
        width: 3em;
    }
    &:hover{
        cursor: pointer;
        border: 2px solid hsl(26, 100%, 55%);
        border-radius: 50%;
    }
   }
   
}



