@mixin modal-background {
    background-color: hsl(0, 0%, 0%, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    animation: aparecer 1000ms forwards;
}

@keyframes aparecer {
    from{
        opacity: 0;

    }to{
        opacity: .5em;
    }
}