@use 'mixins' ;

.modal-gallery{
    
    width: 27.875em;
    z-index: 1;
    margin: 15vh auto;
    &__background{
        @include mixins.modal-background;
    }
    &__image-container{
        background-image: url(images/image-product-1.jpg) ;
        height: 27.875em;
        background-size: cover;
        border-radius: .7em;
        @media(min-width:69.6875em){
            position: relative;
        }
    }
    &_thumnails{
        height: 8em;
        display: flex;
        gap: 1em;
        align-items: center;
        justify-content: center;
        
    }
    &_thumnail{
        width: 5.6em;
        border-radius: .8em;
        &:hover{
            cursor: pointer;
            border: 1px solid hsl(26, 100%, 55%);
            box-shadow: 3px 3px 10px;
            
            opacity: .2;
        }
    }
    &__close{
        position: absolute;
        top: -2em;
        right: 0;
        width: 1.2em;
        &:hover{
            cursor: pointer;
            background-color: orange;
            border-radius: 50%;
        }

    }

    &__previus{
        @include mixins.image-btn;
        top: 11em;
        left:-1em;   
        @media(max-width:69.6875em){
            display: none;
        }   
    }
    &__next{
        @include mixins.image-btn;
        top: 11em;
        left: 26.8em;
        @media(max-width:69.6875em){
            display: none;
        }
    }
    @media(max-width:69.6875em){
        display: none;
    }
    

}