.navbar{
    display: none;
    z-index: 1;
    width: 25em;
    left: 12em;
    &__items{
        display: flex;
        list-style: none;
        justify-content: space-between;
        
    }
    &__link{
        color: black;
        text-decoration: none;
        font-weight: 700;
        height: 7em;
        position: relative;
        &:hover{
            cursor: pointer;
        }
        &:after{
            content: "";
            position: absolute;
            background-color: black;
            height: 3px;
            width: 0;
            left: 0;
            bottom: -10px;
            transition: .3s;
        }
        &:hover:after{
            width: 100%;
            
        }
    }
    @media (min-width : 69.6875em){
        display: block;
        position: absolute;
    }
}