@use 'initial'; //ESTILOS INICIALES DEL BODY Y TODOS LOS ELEMENTOS//
@use 'header'; //HEADER//
@use 'variables'; //VARIABLES//
@use 'navbar'; //BARRA DE NAVEGACION//
@use 'modal-navbar'; //BARRA DE NAVEGACION MODAL//
@use 'gallery'; //GALERIA//
@use 'details';
@use 'modal-cart';
@use 'modal-galery';


.main-container{
    width: 23.43em;
    margin: auto;
    position: relative;
    @media(min-width:69.6875em){
            width: 100%;  
            height: 100%;
            
    }
    
    
}
.content{
    @media(min-width:69.6875em){
        display: flex;
        padding:5.6em 3.1em;
        gap: 7.7em;
        max-width: 57em;
        &__container{
            margin: auto;       
            display: grid;
            place-content: center;
            width: 100vw;    
        }
    }
}









 